
@{
    ViewData["Name"] = "All locations";
}

    <head>

        <link rel="stylesheet" href="~/css/home.css" />

    </head>

<h2 class="title">Displays all Locations below</h2>

<table class="table">
    <tr>
        <td>Name</td>
        <td>Description</td>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
    <td><a asp-controller="Home" asp-action="OneLocation" asp-route-GeographicalCoordinates="@item.GeographicalCoordinates">@item.Name</a></td>
    <td><a>@item.Description</a></td>
    </tr>

    }
</table>

