@model b9039646_WAD_Assignment.Models.FavouriteLocations
@{
    //ViewData["Name"] = Model.Name;
}

<head>

    <link rel="stylesheet" href="~/css/home.css" />

</head>

<h1 class="title">Favourite Locations</h1>

<p class=" = locationName">@Model.UserID</p>