@{
    ViewData["Title"] = "Home Page";
}

<head>

    <link rel="stylesheet" href="~/css/home.css" />

</head>

<div class="text-center">
    <h1 class="title">Welcome</h1>
    <p>2 boxes here - maybe use flex?</p>
</div>
