@{
    ViewData["Title"] = "Home Page";
}

<head>

    <link rel="stylesheet" href="~/css/home.css" />

</head>

<div class="text-center">
    <h1 class="title">Welcome</h1>
    
    <div class="container">

        <div class="box">Location Links
        
            <div class="verticalContainer">
                <div class="verticalBox">View all sites</div>
                <div class="verticalBox"><a asp-controller="Home" asp-action="FavouriteLocationsPage">View my sites</a></div>
                <div class="verticalBox">???</div>

            </div>
        
        </div>

        <div> </div>

        <div class="box">Random Location



        </div>

    </div>
</div>
