<h1>Add Location</h1>

<form asp-controller="Cms" asp-action="AddLocation">
    <div>
        <label>Name</label>
        <input type="text" />
    </div>

    <div>
        <label>Description</label>
        <input type="text" />
    </div>

    <div>
        <label>Justification</label>
        <textarea></textarea>
    </div>

    <div>
        <label>Date</label>
        <input type="date" />
    </div>

    <div>
        <label>Danger</label>
        <input type="text" />
    </div>


    <div>
        <label>Longitude</label>
        <input type="number" />
    </div>

    <div>
        <label>Latitude</label>
        <input type="number" />
    </div>

    <div>
        <label>Area</label>
        <input type="number" />
    </div>

    <div>
        <label>Category</label>
        <select name="catergory">

            <option value="cultural">Cultural</option>
            <option value="natural">Natural</option>
            <option value="mixed">Mixed</option>
        </select>
    </div>

    <div>
        <label>Country</label>
        <input type="text" />
    </div>

    <div>
        <label>Continent</label>
        <input type="text" />
    </div>

    <div>
        <label>Geographical Co-ordinates</label>
        <input type="number" />
    </div>

    <div>
        <input type="submit" value="Add" class="add" />
    </div>

</form>
