<h1>Add Film</h1>

<form asp-controller="Cms" asp-action="AddTrack">
    <div>
        <label>Track Name</label>
        <input type="text"/>
    </div>

    <div>
        <label>Film Certificate</label>
        <input type="text"/>
    </div>

    <div>
        <label>Track Length</label>
        <textarea></textarea>
    </div>

    <div>
        <label>Track Image</label>
        <input type="text" />
    </div>

    <div>
        <label>Track Rating</label>
        <input type="text" />
    </div>


    <div>
        <label>Release Date</label>
        <input type="date" />
    </div>

    <div>
        <input type="submit" value="Add" class="add" />
    </div>

</form>
