
@{ ViewData["Title"] = "All Tracks"; }
@{
    Layout = "_Layout";
}

<h1>All locations below can be updated or deleted</h1>

<p><a asp-controller="Cms" asp-action="AddLocation">Add Location</a></p>

<table class="table">
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td><a>@item.Name</a></td>
    <td><a>@item.Description</a></td>
    <td><p><a asp-controller="Cms" asp-action="EditLocation" asp-route-GeographicalCoordinates="@item.GeographicalCoordinates">Update</a></p></td>
    <td><p><a asp-controller="Cms" asp-action="DeleteLocation" asp-route-GeographicalCoordinates="@item.GeographicalCoordinates">Delete</a></p></td>
</tr>}

</table>


