
@{
    ViewData["Title"] = "All Tracks";
}

<h1>Displays all tracks below</h1>

<p><a asp-controller="Cms" asp-action="AddTrack">Add Track</a></p>

<table class="table">
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td><a>@item.Name</a></td>
    <td><a>@item.Description</a></td>
    <td><p><a>Update</a></p></td>
    <td><p><a>Delete</a></p></td>
</tr>
    }

</table>

   
