@model SignIn;

    <head>
        <link rel="stylesheet" href="~/css/forms.css" />
        <link rel="stylesheet" href="~/css/home.css" />
    </head>

<h2 class="title">Eneter details and New Password</h2>
<section class="formContainer">
    <form asp-controller="Authentication" asp-action="ChangePassword" method="post" class="centerForm">
        <div class="formField">
            <label>Username</label>
            <input type="text" asp-for="UserName" />
        </div>
        <div class="formField">
            <label>Password</label>
            <input type="password" asp-for="Password" />
        </div>
        <div class="formField">
            <label>New Password</label>
            <input type="password" asp-for="NewPassword" />
        </div>
        <div class="formField">
            <label asp-for="RememberMe"></label>
            <input type="checkbox" asp-for="RememberMe" />
        </div>
        <div class="button">
            <button type="submit" class="add">Change Password</button>
        </div>
        <div asp-validation-summary="All" class="message"></div>


    </form>
</section>

